/* Spotify Authentication Box */
#spotify-authentication,
#spotify-profile .spotify-profile--content {
  display: none;
  justify-content: space-between;
  padding: 4rem 2rem;
  border: var(--border);
  border-radius: var(--radius);
  flex-wrap: wrap;
  gap: 1.25rem;
}

#spotify-authentication h2,
#spotify-profile .spotify-profile--content h2 {
  font-size: var(--text-xl);
}

#spotify-authentication button {
  width: 200px;
  --font-size: 18px;
}

#spotify-authentication button:hover {
  background-color: var(--button-hover);
}

/* Spotify Profile*/
#spotify-profile .spotify-profile--content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  position: relative;
}

#spotify-profile {
  position: relative;
}

#spotify-profile .spotify-profile--content img {
  width: min(100%, 300px);
  height: min(width, 200);
  object-fit: cover;
  border-radius: var(--radius);
  transition: all 0.3s ease;
}

@media screen and (max-width: 900px) {
  #spotify-authentication,
  #spotify-profile .spotify-profile--content {
    padding: 1.25rem;
  }

  #spotify-authentication button {
    --font-size: 16px;
  }
}
