/* Spotify Authentication Box */
#spotify-authentication,
#spotify-profile .spotify-profile--content {
  display: none;
  justify-content: space-between;
  gap: 1.25rem;
}

#spotify-authentication h2,
#spotify-profile .spotify-profile--content h2 {
  font-size: var(--text-xl);
}

/* Spotify Profile*/
#spotify-profile .spotify-profile--content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

#spotify-profile {
  position: relative;
}

#spotify-profile .spotify-profile--content img {
  width: min(100%, 300px);
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  border-radius: var(--radius);
  transition: all 0.3s ease;
}

@media screen and (max-width: 900px) {
  #spotify-authentication button {
    --font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  #spotify-authentication,
  #spotify-profile .spotify-profile--content {
    flex-wrap: wrap;
  }
}
