@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&family=Tilt+Warp&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --primary-bg: linear-gradient(
    310deg,
    hsl(173deg 80% 12%) 0%,
    hsl(173deg 80% 11%) 9%,
    hsl(173deg 80% 11%) 18%,
    hsl(172deg 80% 10%) 27%,
    hsl(173deg 80% 10%) 36%,
    hsl(173deg 80% 10%) 45%,
    hsl(173deg 80% 9%) 55%,
    hsl(173deg 80% 9%) 64%,
    hsl(173deg 80% 8%) 73%,
    hsl(173deg 80% 7%) 82%,
    hsl(173deg 80% 7%) 91%,
    hsl(173deg 80% 6%) 100%
  );
  --primary-color: #063630;
  --secondary-color: #f6ad02;
  --bright: #fff;
  --text-color: #fff;
  --heading-color: ;
  /* Buttons Color */
  --button-hover: #1f4a45;
  /* Fonts */
  --font-text: "Golos Text", sans-serif;
  --font-heading: "Tilt Warp", cursive;
  /* Font Sizes */
  --text-xl: clamp(30px, 3vw + 1rem, 50px);
  --text-lg: 40px;
  --text-normal: 16px;
  --text-small: 14px;
  /* Border */
  --border: 2px solid #1f4a45;
  --radius: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-text);
  font-family: 400;
  color: var(--text-color);
  background-image: var(--primary-bg);
  padding: 20px;
}

.container {
  width: 1300px;
}

button,
input[type="submit"] {
  --font-size: 18px;
  font-size: var(--font-size);
  border: 0px;
  padding: 1rem;
  font-family: inherit;
  background-color: var(--secondary-color);
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 200px;
}

button:hover,
input[type="submit"]:hover {
  color: var(--text-color);
  background-color: var(--button-hover);
}

@media screen and (max-width: 500px) {
  button {
    width: 100% !important;
    padding: 0.75rem;
  }
}

.hidden {
  opacity: 0 !important;
  pointer-events: none;
  visibility: hidden;
}

.box {
  padding: 3rem 2rem;
  border: var(--border);
  border-radius: var(--radius);
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

@media screen and (max-width: 900px) {
  .box {
    padding: 1.5rem;
  }
}
