#yt-playlist-songs .row {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  border: var(--border);
  border-bottom-width: 0px;
  padding: 1rem;
}

#yt-playlist-songs #head {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

#yt-playlist-songs .row:last-child {
  border-bottom-width: 2px;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.yt-playlist-song--action input {
  scale: 1.3;
  margin-left: 5px;
}

.yt-playlist-song--status img {
  width: 40px;
}

.yt-playlist-song--thumbnail img {
  width: 100%;
}
